header.hubi__info
  span.hubi__info__text Generated with ❤ by <a href="https://www.npmjs.com/package/hubi" target="_blank">hubi</a>
  a(class="github-fork-ribbon" href="https://github.com/mvcds/hubi" data-ribbon="Fork me on GitHub" title="Fork me on GitHub" target="_blank") Fork me on GitHub
