body {
  margin: 0;
  padding: 0;
}

.token {
  padding: 8px;
  border-top: 1px solid black;
  margin-top: -1px;
}

.token:last-child {
  border-bottom: 1px solid black;
}

.token__title {
  font-weight: bold;
}

.hubi__info {
  padding: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hubi__info a,
.hubi__info a:active,
.hubi__info a:hover,
.hubi__info a:focus,
.hubi__info a:visited,
.hubi__info a:focus-within {
  color: #000;
}
