body {
  margin: 0;
  padding: 0;
}

.token {
  padding: 8px;
  border-top: 1px solid black;
  margin-top: -1px;
}

.token:last-child {
  border-bottom: 1px solid black;
}

.token__title {
  display: flex;
  align-items: center;
}

.token__name {
  font-weight: bold;
}

.token__deprecation-note,
.attribute__deprecation-note {
  display: flex;
  align-items: center;
}

.token__deprecation-note__icon {
  margin-left: 8px;
}

.token__deprecation-note__icon,
.attribute__deprecation-note__icon {
  color:  #EB3BFF;
  margin-right: 4px;
  display: flex;
  align-items: center;
}

.token__deprecation-note__icon::after,
.attribute__deprecation-note__icon::after {
  content: "warning";
  margin-left: 4px;
}

.token__deprecation-note__icon--error,
.attribute__deprecation-note__icon--error {
  color:  #FF5722;
}

.token__deprecation-note__icon--error::after,
.attribute__deprecation-note__icon--error::after {
  content: "error";
}

.token__comment {
  margin: 0;
  padding: 8px;
  font-family: fantasy;
}

.attribute__default {
  margin-left: 4px;
  font-family: monospace, serif;
}

.attribute__comment {
  margin-left: 4px;
  font-family: fantasy;
}

.hubi__info {
  padding: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hubi__info a,
.hubi__info a:active,
.hubi__info a:hover,
.hubi__info a:focus,
.hubi__info a:visited,
.hubi__info a:focus-within {
  color: #000;
}
