doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title Hubi Site of Ubiquitous Language
    link(rel="stylesheet" href="")
  body
    details#file
      summary File
      p The abstraction of a file on your system
      ul
        li
          strong name
          | :
          span the complete system path to the file
        li
          strong content
          | :
          span numbers representing its content to be converted
